<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	
	<!-- 加载类路径下的属性文件 -->
	

	<!-- 设置一个默认的连接环境信息 -->
	<environments default="mysql_developer">
		<!-- 连接环境信息，取一个任意唯一的名字 -->
		<environment id="mysql_developer">
			<!-- mybatis使用jdbc事务管理方式 -->
			<transactionManager type="jdbc"/>
			<!-- mybatis使用连接池方式来获取连接 -->
			<dataSource type="pooled">
				<!-- 配置与数据库交互的4个必要属性 -->
				<property name="driver" value="com.mysql.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://127.0.0.1:3307/springbootseckill?useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=GMT%2B8"/>
				<property name="username" value="root"/>
				<property name="password" value="mayun123"/>
				<property name="poolMaximumActiveConnections" value="50"/>
				<property name="poolMaximumIdleConnections" value="20"/>
				<property name="poolMaximumCheckoutTime" value="5000"/>
				<property name="poolPingEnabled" value="true"/>
				<property name="poolPingQuery" value="select 1"/>
				<property name="poolPingConnectionsNotUsedFor" value="3600000"/>
			</dataSource>
		</environment>
		
	</environments>

	<mappers>
		<mapper resource="/Dao/category.xml"></mapper>
		<mapper resource="/Dao/book.xml"></mapper>
		<mapper resource="/Dao/user.xml"></mapper>
		<mapper resource="/Dao/order.xml"></mapper>
	</mappers>
</configuration>
